body,
html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 1.9rem;
    font-weight: 700;
}
h4 {
    margin: 0px;
    font-weight: 400;
}
.header {
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px -2px #999;
    &__logo {
        height: 2rem;
        width: auto;
        margin-top: 1.8rem;
        margin-bottom: 1.1rem;
    }
}
.footer {
    background-color: #353535;
    h3 {
        color: white;
        font-family: Shrikhand;
        font-weight: 300;
        padding-top: 1.5rem;
        padding-left: 1rem;
        margin-top: 0rem;
    }
    &__bloc {
        @media screen and (min-width: 700px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        color: white;
        a {
            color: white;
            padding: 0.3rem 1rem;
            width: max-content;
        }
        &__icon {
            padding-right: 1rem;
            max-width: 0.4rem;
        }
    }
}
