.loadercontainer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    animation: spinnerbackground 2s linear;
    animation-fill-mode: forwards;
    @keyframes spinnerbackground {
        70% {
            opacity: 100%;
        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__loader {
        border: 1rem solid #ff79da;
        border-top: 1rem solid #9356dc;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        animation: spinner 2s linear;
        position: fixed;
        left: 50%;
        top: 45%;
        margin-left: -3.5rem;
        z-index: 9999;
        animation-fill-mode: forwards;
        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }
            70% {
                transform: rotate(360deg);
                opacity: 100%;
            }
            100% {
                transform: rotate(515deg);
                opacity: 0;
            }
        }
    }
}

.location {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #353535;
    padding: 1.2rem 1rem;
    &__icon,
    &__text {
        position: relative;
        left: -10px;
        margin: 0 1rem;
    }
}
.discover {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 4rem;
    h2 {
        text-align: center;
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
    }
    h3 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    &__btn {
        background-image: linear-gradient(0deg, #9356dc, #ff79da);
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        border-radius: 100px;
        padding: 1.1rem 1.3rem;
        box-shadow: 4px 4px 8px -2px #999;
        &:hover {
            transform: scale(1.05);
            opacity: 90%;
        }
    }
}
.guide {
    padding-bottom: 3rem;
    h2 {
        padding-left: 1.5rem;
    }
    a {
        color: black;
        font-weight: 500;
        font-size: 1rem;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__btn {
            @media screen and (max-width: 374px) {
                width: 16rem;
            }
            width: 20rem;
            border-radius: 20px;
            box-shadow: 4px 4px 8px -2px #999;
            padding: 0.8rem;
            margin: 0.5rem;
            background-color: #f6f6f6;
            &__icon {
                color: gray;
                margin: 1rem 1rem;
            }
            &__number {
                background-color: #9356dc;
                color: white;
                border-radius: 40px;
                padding-left: 0.4rem;
                padding-right: 0.4rem;
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                position: relative;
                left: -1.2rem;
            }
            &:hover {
                background-color: rgba($color: #9356dc, $alpha: 0.1);
                transform: scale(1.01);
            }
            &:hover &__icon {
                color: #9356dc;
            }
        }
    }
}
#restaurants {
    background-color: #f2f2f2;
    padding-top: 20px;
    h2 {
        padding-left: 1.5rem;
    }
    a {
        color: black;
    }
}
.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 800px) {
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    &__card {
        @media screen and (min-width: 800px) {
            flex-basis: 45%;
            height: 20rem;
        }
        flex-basis: 90%;
        height: 16rem;
        margin: 0px 15px;
        margin-bottom: 25px;
        background-color: white;
        box-shadow: 0px 5px 20px #999;
        border: transparent 0px solid;
        border-radius: 20px;
        position: relative;
        &__new {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: #99e2d0;
            color: #008766;
            width: 6rem;
            height: 2rem;
            font-weight: 500;
            border-radius: 3px;
        }
        &:hover {
            transform: scale(1.01);
        }
        &__img {
            @media screen and (min-width: 800px) {
                height: 15rem;
            }
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
            overflow: hidden;
            object-position: 50% 60%;
            width: 100%;
            height: 11rem;
        }
        &__bottom {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-size: 1rem;
            margin-left: 1rem;
            height: 4rem;
            &__title {
                margin-top: 0.6rem;
                margin-bottom: 0rem;
            }
            &__text {
                font-weight: 400;
                margin-top: 0.3rem;
                margin-bottom: 0rem;
            }
            &__icon {
                align-self: flex-end;
                position: relative;
                top: 1.5rem;
                right: 1.5rem;
                font-size: 1.5rem;
                color: white;
                -webkit-text-stroke: 1px black;
                &:hover {
                    background: linear-gradient(180deg, #ffffff, #ffffff, #ff79da, #9356dc);
                    background-size: 400% 400%;
                    background-clip: content-box;
                    -webkit-text-stroke: 0px transparent;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: fill 1s linear;
                    animation-fill-mode: forwards;
                    @keyframes fill {
                        0% {
                            background-position: 0% 0%;
                            -webkit-text-stroke: 1px black;
                        }
                        50% {
                            background-position: 0% 15%;
                            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
                        }
                        90% {
                            background-position: 0% 60%;
                            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
                        }
                        100% {
                            background-position: 0% 77%;
                            -webkit-text-stroke: 1px rgba(255, 121, 218, 1);
                        }
                    }
                }
            }
        }
    }
}
